{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title_block %}Login{% endblock %}

{% block body_block %}
<link href="https://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
<div class="container">
<form method="post" action="." class="form-signin">
  {% csrf_token %} 
  {% for field in form %}
  {% for error in field.errors %}
      <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
      </div>
  {% endfor %}
  <label>{{ field.label }}</label>
  {% render_field field class="form-control" %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
      </div>
  {% endfor %}
  <br>
  <br>
  <input type="submit" value="{% trans 'Log in' %}" class="btn btn-success" />
</form>
</form>

<span>Forgot Password?? Whatsapp 9742454257</span>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
{% endblock %}
