{% extends 'base.html' %}

{% block title_block %}{{ activity.topic }}{% endblock %}

{% block body_block %}
<div class="container">
	<h1>Summary</h1>
	<h2>Summary for your activity "{{ activity.topic }}" </h2>
	<h3>Feedback Summary</h3>
	<ul>
		<li>Total feedbacks : {{ total_answers }}</li>
		<li>Low : {{ low_no }}</li>
		<li>Medium : {{ medium_no }}</li>
		<li>High : {{ high_no }}</li>
	</ul>
</div>
<div id="act-chart">
	<canvas id="activity-chart" width="844" height="424"></canvas>
</div>

<script>
	var total ={{ total_answers }};
	var low = {{ low_no }};
	var medium = {{ medium_no }};
	var high = {{ high_no }};
</script>
{% endblock %}