{% extends 'base.html' %}

{% block title_block %}Home{% endblock %}

{% block body_block %}
	<!--add our code here. do not touch base.html -->
	<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">BMSIT Records</h1>
                <hr>
                {% if user.is_authenticated %}
                    <a href="{% url 'auth_logout' %}?next={% url 'index' %}" class="btn btn-primary btn-xl page-scroll">Logout</a>
                    {% if user.is_staff %}
                        <a href="{% url 'activity:activity_list' %}" class="btn btn-primary btn-xl page-scroll">Activities</a>
                    {% else %}
                        <a href="{% url 'activity:feedback_activity' %}" class="btn btn-primary btn-xl page-scroll">Feedback</a>
                    {% endif %}
                {% else %}
                <a href="{% url 'auth_login' %}" class="btn btn-primary btn-xl page-scroll">Login</a>
                <a href="{% url 'registration_register' %}" class="btn btn-primary btn-xl page-scroll">register</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}